body {
  background-color: #fff;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.romantisch {
  color: #f00;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #f00;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
